.footer {

    &__color {
        background: rgb(238, 238, 238);
    }
    
    &__container {
        margin: 0 auto;
        max-width: 1290px;
    }

    &__section {
        margin: 0 5px;
        padding-top: 7.132vw;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        @media only screen and (max-width: 1043px) {
            justify-content: space-around;
            gap: 20px;
        }
    }

    &__block {
        flex: 0 0 18.75rem;
    }

    &__text-h5-block {
        margin-bottom: 2.171vw;
        font-family: 'GraphikLCG-Regular';
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.125rem;
    }

    &__image-block {
        margin-bottom: 3.101vw;
        width: 18.75rem;
        height: 18.75rem;
    }

    &__text-p-block {
        padding-top: 0.853vw;
        margin-bottom: 1.163vw;
        font-family: 'GraphikLCG-Regular';
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.875rem;
    }

    &__reference-block {
        color: rgb(0, 0, 0);
        font-family: 'GraphikLCG-Semibold';
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.875rem;
        text-decoration: none;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
    }

    &__nav-list-heading {
        list-style: none;
        font-family: 'GraphikLCG-Semibold';
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.563rem;
    }

    &__nav-list-element {
        padding-top: 1.628vw;
        list-style: none;
        padding-left: 0px;
    }

    &__, li {
        margin-bottom: 1.163vw;
        font-family: 'GraphikLCG-Regular';
        font-size: 0.938rem;
        font-weight: 400;
        line-height: 0.938rem;
    }

    &__, a {
        text-decoration: none;
        line-height: inherit;
        &:hover {
            text-decoration: underline;
        }
    }

    &__block-logo {
        margin: 0 5px;
        padding-top: 4.109vw;
        padding-bottom: 3.333vw;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
    }

    &__lokalise_logo {
        width: 5.625rem;
        height: 1.313rem;
    }

    &__text-p-logo, &__date {
        font-family: 'GraphikLCG-Regular';
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 0.938rem;
    }
}