.header {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    border-bottom: 1px solid #CCCCCC;
    position: fixed; 
    left: 0;
    right: 0;
    background-color: #fff;

    &__container {
        margin: 0 auto;
        max-width: 1348px;
    }

    &__logo {
        width: 8.125rem;
        height: 1.75rem;
        float: left;
        margin: 0.594rem 0.313rem;
    }

    &__nav {
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 970px) {
            @import 'menu-burger';
            padding-right: 5px;
            gap: 10px;
            justify-content: flex-end;
        }
    }

    &__input {
        display: none;
        @media only screen and (max-width: 970px) {
            @import 'menu-burger';
        }
    }

    &__menu-btn {
        order: 1;
    }

    &__list {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 50px;
        @media only screen and (max-width: 970px) {
            @import 'menu-burger';
        }
    }

    &__list-element {
        list-style: none;
    }

    &__element {
        font-family: 'GraphikLCG-Regular';
        font-size: 0.938rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-decoration: none;
        @media only screen and (max-width: 970px) {
            @import 'menu-burger';
        }
    }

    &__list-btn {
        @media only screen and (min-width: 521px) {
            display: none;
        }
    }

    &__button {
        margin-right: 5px;
        display: flex;
        gap: 10px;
        order: 1;
        @media only screen and (max-width: 520px) {
            display: none;
        }
    }

    &__btn-left {
        @extend %template__button;
        min-width: 7.5rem;
        padding: 0px 1.25rem;
        line-height: 2.813rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        @media only screen and (max-width: 520px) {
            @import 'menu-burger';
        }
    }

    &__btn-right {
        @extend %template__button;
        min-width: 7.5rem;
        padding: 1px 1.25rem;
        line-height: 2.813rem;
        color: rgb(255, 255, 255);
        background: rgb(255, 99, 54);
        @media only screen and (max-width: 520px) {
            @import 'menu-burger';
        }
    }
}