.header {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 31px;
    padding-bottom: 24px;

    &__nav {
        padding: 0 51px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
    }

    &__list_element {
        list-style: none;
    }

    &__element {
        font-family: 'GraphikLCG-Regular';
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
    }

    &__button {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__btn_1 {
        padding: 0px 20px;
        min-width: 120px;
        min-height: 45px;
        font-family: 'GraphikLCG-Semibold';
        font-size: 16px;
        font-weight: 600;
        line-height: 45px;
        text-align: center;
        text-decoration: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
        transition: all .3s;
        &:hover {
                background: rgb(0, 255, 55);
            }
    }

    &__btn_2 {
        padding: 1px 20px;
        min-width: 120px;
        min-height: 45px;
        font-family: 'GraphikLCG-Semibold';
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        line-height: 45px;
        text-align: center;
        text-decoration: none;
        background: rgb(255, 99, 54);
        transition: all .3s;
        &:hover {
                background: rgb(0, 255, 55);
            }
    }
}