.header {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 31px;
    padding-bottom: 24px;
    border-bottom: 1px solid #CCCCCC;
    // position: fixed; to include on end
    left: 0;
    right: 0;
    background-color: #fff;

    &__nav {
        padding: 0 45px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px 0px;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        padding: 0;
        // flex-wrap: wrap;
        align-items: center;
        gap: 50px;
    }

    &__list-element {
        list-style: none;
    }

    &__element {
        font-family: 'GraphikLCG-Regular';
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
    }

    &__button {
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
    }

    &__btn-left {
        @extend %template__button;
        min-width: 120px;
        padding: 0px 20px;
        line-height: 45px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    &__btn-right {
        @extend %template__button;
        min-width: 120px;
        padding: 1px 20px;
        line-height: 45px;
        color: rgb(255, 255, 255);
        background: rgb(255, 99, 54);
    }
}