.main {
    padding-top: 58px;

    &__container {
        margin: 0 auto;
        max-width: 1290px;
    }

    &__section-number-1 {
        padding-top: 10px;
        margin-bottom: 147px;
        display: flex;
        @media (max-width: 1120px) {
            flex-direction: column;
            align-items: center;
            padding-top: 0;
            margin-bottom: 0;
        }
        @media (max-width: 1020px) {
            display: block;
            text-align: center;
        }
    }

    &__block-section-number-1 {
        padding-top: 32px;
        // display: flex;
        // flex-direction: column;
    }

    &__text-h1 {
        margin: 0 0 50px;
        font-family: 'GraphikLCG-Semibold';
        font-size: 65px;
        font-weight: 600;
        line-height: 70px;
    }

    &__text-p-section-number-1 {
        margin: 0 0 50px;
        font-family: 'GraphikLCG-Regular';
        font-size: 25px;
        font-weight: 400;
        line-height: 35px;
    }

    &__button-section-number-1 {
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
    }

    &__btn-left {
        @extend %template__button;
        min-width: 160px;
        padding: 1px 20px;
        line-height: 60px;
        color: rgb(255, 255, 255);
        background: rgb(255, 99, 54);
        &.section-number-12 {
            background: rgb(0, 0, 0);
        }
    }

    &__btn-right {
        @extend %template__button;
        min-width: 160px;
        padding: 0px 20px;
        line-height: 60px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    &__note-section {
        margin: 25px 0 35px;
        font-family: 'GraphikLCG-Regular';
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }

    &__image-section-number-1 {
        padding-top: 54px;
    }

    &__image {
        @media (max-width: 1120px) {
            width: 100%;
            height: auto;
        }
    }

    &__color-section-number-2 {
        background: rgb(255, 156, 125);
    }

    &__text-h3-section-number-2 {
        @extend %text-h3;
        padding-top: 98px;
        padding-bottom: 70px;
        text-align: center;
    }

    &__images-section-number-2 {
        padding-bottom: 94px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__section {
        @extend %section;
        &.number-6 {
            margin-bottom: 150px
        }
    }

    &__block-section {
        @extend %block;
    }

    &__text-h3 {
        @extend %text-h3;
        margin-bottom: 30px;
    }

    &__text-p {
        @extend %text-p;
        &.section-number-12 {
            margin-bottom: 54px;
        }
    }

    &__reference-section {
        color: rgb(0, 0, 0);
        font-family: 'GraphikLCG-Semibold';
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-decoration: none;
    }

    &__color-section-number-7 {
        background: rgb(255, 248, 228);
    }

    &__text-h3-section-number-7 {
        @extend %text-h3;
        padding-top: 120px;
        padding-bottom: 58px;
        text-align: center;
    }

    &__cards-section-number-7 {
        @extend %cards;
    }

    &__card-element-section-number-7 {
        padding-top: 20px;
        flex: 0 0 330px;
        text-align: center;
    }

    &__text-h4-section-number-7 {
        margin: 20px 0px 25px;
        font-family: 'GraphikLCG-Semibold';
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
    }

    &__text-p-section-number-7 {
        margin-bottom: 50px;
        font-family: 'GraphikLCG-Regular';
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }

    &__text-h3-section-number-8 {
        padding-top: 150px;
        padding-bottom: 75px;
        @extend %text-h3;
    }

    &__cards-section-number-8 {
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap
    }

    &__card-element-section-number-8 {
        // padding-top: 20px;
        flex: 0 0 330px;
    }

    &__images-center-section-number-8 {
        margin-bottom: 35px;
    }

    &__images-end-section-number-8 {
        margin-bottom: 18px;
    }

    &__text-h4-section-number-8 {
        padding-top: 50px;
        padding-bottom: 35px;
        font-family: 'GraphikLCG-Semibold';
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }

    &__reference-section-number-8 {
        @extend %text-p;
        color: rgb(0, 0, 0);
    }

    &__color-section-number-9 {
        background: rgb(201, 232, 242);
    }

    &__section-number-9 {
        padding-top: 45px;
        padding-bottom: 105px;
        display: flex;
        // flex-wrap: wrap;
        gap: 85px;
    }

    &__text-p-section-number-9 {
        margin-bottom: 25px;
        font-family: 'GraphikLCG-Regular';
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }

    &__note-section-number-9 {
        margin-bottom: 7px;
        font-family: 'Roboto-Regular';
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }

    &__color-section-number-10 {
        background: rgb(218, 188, 152);
    }

    &__section-number-10 {
        padding: 80px 0px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    &__block-section-number-10 {
        display: flex;
        align-items: center;
        gap: 67px;
    }

    &__images-section-number-10 {
        border-left: 1px solid rgb(0, 0, 0);
        display: flex;
        flex: 0 0 481px;
        align-items: center;
        justify-content: space-around;
    }

    &__text-h3-section-number-10 {
        font-family: 'GraphikLCG-Semibold';
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
    }

    &__section-number-11 {
        padding-top: 170px;
        padding-bottom: 120px;
        text-align: center;
    }

    &__text-h2 {
        @extend %text-h2;
        &.section-number-12 {
            margin-bottom: 30px;
        }
    }

    &__text-p-section-number-11 {
        margin-bottom: 25px;
        font-family: 'GraphikLCG-Regular';
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
    }

    &__button-section-number-11 {
        padding-top: 32px;
        display: flex;
        justify-content: center;
    }

    &__color-section-number-12 {
        background: rgb(255, 156, 125);
    }

    &__section-number-12 {
        padding-top: 160px;
        padding-bottom: 160px;
        text-align: center;
    }

    &__button-section-number-12 {
        display: flex;
        justify-content: center;
    }
}